@tailwind base;
@tailwind components;
@tailwind utilities;
.hero-bg {
    background-image: url('/public/yellow-cardboard-papers-corner-blue-backdrop_23-2147878426.avif');
    background-size: cover;
    background-position: center;
  }
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
  }
  